<% include header %>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Simple Calculator</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
    <form>
      <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                <div class="form-group">
                    <label for="first">Select the operation to perform</label>
                    <select id="operators">
                            <option value="+">+</option>
                            <option value="-">-</option>
                            <option value="*">×</option>
                            <option value="/">÷</option>
                            <option value="%">%</option>

                </select>
                </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <div class="form-group">
                        <label for="first">Enter first value</label>
                        <input type="text" id="f">
                    </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
        <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                <div class="form-group">
                    <label for="first">Enter second value</label>
                    <input type="text"  id="s">
                </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        <div class="row"><div class="col-md-4"></div><div class="col-md-4">
        <button type="button"  onclick="calc()">Submit</button></div>
        <div class="col-md-4"></div></div><br>
        <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                <div class="form-group">
                    <label for="output">The calculated value is</label>
                    <input type="text"  id="output">
                </div>
                </div>
                <div class="col-md-4"></div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>