<% include header %>



<form action="/action_page.php" background-color="pink">
  <fieldset>
    <legend>Personal information:  <div >
  
  <a href="https://www.facebook.com/razeena.rao/">
  <img src="images/facebook-logo_318-49940.jpg" alt="Workplace" usemap="#facebook" width="100" height="100" ></a>
  <a href="https://github.com/RazeenaRao">
  <img src="images/github-mark.png" alt="Workplace" usemap="#facebook" width="100" height="100" ></a>
  <a href="https://www.linkedin.com/in/razeena-rao-8b95a4129/">
  <img src="/images/linkedin1.jpg" alt="Workplace" usemap="#facebook" width="100" height="100" ></a>
  <a href="https://bitbucket.org/Razeena_Rao/">
  <img src="/images/bitbucket.jpg" alt="Workplace" usemap="#facebook" width="100" height="100" ></a>
   </div></legend>
    First name:<br>
    <input type="text" name="firstname" value="Divya">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="Harshini">
    <br>
	gmail-id:<br>
    <input type="text" name="lastname" value="divya123@gmail.com">
	<br>
	Address:<br>
    <input type="text" name="lastname" value="apt#123">
	<br>
	Phone Number:<br>
    <input type="text" name="lastname" value="12345678">
    <br>
    Question:<br>
    <input type="text" name="lastname" value="Answer me">

	<input type="submit" value="Submit"> </fieldset>
	<br>
	<br><br>
    
</form>
</div>

