<!DOCTYPE html>
<html>
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  
  <title>Bootstrap 101 Template</title>
  <!-- Bootstrap -->
  
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <title></title>
  <link rel="stylesheet" href="css/razeenarao.css"/>
	</head>
		<body><section = "container">
			<header>
				<h2>Razeena Rao Nemarugommula</h2>
			</header>
      <ul>
          <li><a href="/index">A02</a></li>
        <li><a class="active" href="/index">Home </a></li>
        <li><a  href="/calculation">calculation </a></li>
        <li><a  href="/contact">Contact</a></li>
      </ul>