<%include header %>
<div class="left">
    <img src="/imagesrazeena.jpg" alt="Avatar" style="width:100px">
    <div><header><h1>About ME....</h1></header></div>
<div class="article">
<article id="past-section" >

<section >
<headers>
<b>Current :</b></headers><p> I am a new member of the fall 2018 batch working on my masters in applied computer science.</p></section>
<section>
<headers>
<section><headers><b>Education :</b> </headers><p>I have done my under graduation in computer science at Symbiosis International University .I also have done a six months internship during my course period at Vdeliver pvt.Ltd on PHP.</p></section>
<section><headers><b>Plans :</b> </headers><p>I would like to see myself as a Data Analyst in future.</p></section>
<section><headers><b>Skills :</b> </headers><p>I am good at interacting with people and organized may events in my undergraduation.Apart from this I am aslo good at Databases.</p></section>
<section><headers><b>Hobbies :</b> </headers><p>swimming and badminton.</p></section>

</article>


</section>
<div align="right" style="padding-top:150px">
<!-- <iframe width="560"   height="315" src="https://www.youtube.com/embed/wxQR5kokq68"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/-TVHyhQUwlI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<% include footer %>
id="footer" style="margin-top: 0px"color= "blue">razeena278@gmail.com
<% include footer %>